{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Área do gerente</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="http://127.0.0.1:8000/">Sistema de monitoramento</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link">Cadastro de Voos Reais</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
          <h3 class="display-4"> Cadastrar Voo Real</h3>
            <p class="lead">Insira os dados do voo:</p>
            <hr class="my-4">
        </div>
    </div>

    <div class="container">
      <div class="jumbotron">
        <form method="POST" action="/areaDoFuncionario/">
          {% csrf_token %}
          <input type="text" name="operation" value="create" hidden>

          <label>Código do Voo</label>
          <td>
          <div class="form-group">
            <select class="form-control" name="codigo">
                <option selected></option>

                {% for voo in voos %}
                    <option>{{voo.codigo}}</option>
                {% endfor %}
            </select>

            <br/>
            <label>Dia</label>
            <input type="date" class="form-control" name="dia">
            
            <br/>
            
            <button type="submit" class="btn btn-primary">Cadastrar Voo Real</button>
            </td>
          </div>
        </form>
      </div>
    </div>
</body>
</html>